*{
    margin: 0px;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.slide {
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: relative;
}

#slide1{
    /*background-color: blueviolet;*/
    background-image: url("../img/sakura_con.JPG");
    background-size: cover;
}
#slide2{
    /*background-color: #b33921;*/
    background-image: url("../img/lunar_new_year.jpg");
    background-size: cover;
}
#slide3{
    /*background-color: #1aaf5d;*/
    background-image: url("../img/SIMAC.png");
    background-size: cover;
}
#slide4{
    /*background-color: #775c93;*/
    background-image: url("../img/wushu_collegiates.jpg");
    background-size: cover;
}

p {
    top: 300px;
    position: absolute;
}

#navEvents{
    width: 50px;
    height: 165px;
    position: fixed;
    top: 50%;
    left: 0;
    margin-top: -82.5px;
    z-index:1;
    list-style: none;
}
#navEvents li{
    width: 15px;
    height: 15px;
    background-color: ghostwhite;
    border: 5px solid ghostwhite;
    margin: 12.5px;
    cursor: pointer;
    border-radius: 20px;
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
}
#navEvents li:hover, #navBar .current{
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    background-color: transparent;
}